body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('./assets/image/table.png');
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

button{
    color:#016f32;
    width: 200px;
    height: 50px;
    background-color: goldenrod;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

#message-el{
    font-style: italic;
}